# blacklist all
/*
# whitelist directories
!/*
# now whitelist stuff
!.gitignore
!**.py
!README.md
!*.cfg
# blacklist
*.DS_Store
build
dist
*.png
*.pyc
*.pyo
*.egg-info
*/_git_rev.py
doc/_build
.vscode
*.h5
.pytest_cache
*/.ipynb_checkpoints
